/*
 * Theme Information:*
 * Name:wast
 * Author:zyuq
 * Version:v0.1.2
 */

body {
	padding-top:3.125rem;
	padding-right:20%;
	padding-left:20%;
	padding-bottom:0rem;
	word-break:hyphenate;
	background-color:#53565c;
}
h1 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size:1.875rem;
	color:white;
	text-align:center;
}
h2 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size:1.5625rem;
	color:white;
	text-align:center;
}
h3 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	font-size:1.25rem;
	color:white;
	text-align:center;
}
p {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:1.25rem;
}
p2 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:1.0625rem;
}
p3 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:0.875rem;
}
p4 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:0.6875rem;
}
p5 {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:0.5rem;
}
a:visited,a:link {
	color:white;
	font-weight:bold;
}
li {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:1.25rem;
}
blockquote {
	font-family:"Times New Roman","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	color:white;
	font-size:1.0625rem;
}
.mask {
	background-color:#252525;
	color:#252525;
	transition:color 0.5s;
}
.mask:hover {
	color:#ffffff;
}
